*{
	margin:0;
	padding: 0;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;	
	color: #725C5C;
}

aside{
	width: 220px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	height: 100%;
	position: fixed;
}
aside h1{
	text-align: center;
	line-height: 68px;
	height: 68px;
	color: white;
	background-image: linear-gradient(#FFB354, #EE7A3A);
	font-size: 30px;
}
aside ul li{
	height: 33px;
	border-bottom: 1px solid #e7e7e7;
	line-height: 2;
}
aside ul li a{
	margin: 0 25px;
	text-decoration: none;
	font-family: Quicksand;
	font-size: 15px;
}
.ativo{
	background-color: #FDF1EB;
}
.ativo div{
	width: 5px;
	height:33px;
	position: absolute;
	background-image: linear-gradient(#FFB354, #EE7A3A);
	margin-right:15px;
}
.ativo a {
	margin-left: 30px;
}

.content{
	height: 1000px;
	display: inline-block;
	position: absolute;
	width: calc(100% - 221px);
	right: 0;
}
.content header{
	height: 68px;
	background-color: #FDF1EB;
	padding: 6px 30px 0 30px;
	display: flex;
	justify-content: space-between;
}
.content header .title h3{
	line-height: 25,78px;
	font-size: 22px;
	font-family: Roboto;
}
.content header .title p{
	font-size: 14px;
	font-family: Roboto;
}
.content header .info-login {
	line-height: 48px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.content header .info-login button {
	background-color:#FDF1EB;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	width: 97px;
	height: 34px;
	background: url('img/languageImage.png') no-repeat;
	background-position:10% 40%;
	line-height:17.5px;
	text-align: right;
	padding-right: 10px;
	margin:auto 30px;
}
.content header .info-login button img{
	display: inline-block;
}
.content header .info-login .bemvindo{
	padding:0 0 5px 0;
}

.content header .info-login .bemvindo p{
	height: 15px;
	text-align: right;
}
.content header .info-login img{
	width: 40px;
	height: 40px;
	border-radius: 60%;
	margin:8px 0 0 10px ;
}

.content header .info-login .notif{
	background-color: #F85959;
	color:white;
	font-size: 10px;
	display: block;
	height: 15px;
	width: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 0;
}

